QPushButton {
  width: 75px;
  color: #000;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 5px;
}

QPushButton:hover {
  background-color: lightcyan;
}
